#MainName {
    text-align: left; 
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-top: 10px;
    margin: 0px;
    padding: 30px;
}
#Logo {float: left; 
    height: 100px; 
    width: 100px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#Header {
    background-color: rgb(253, 173, 144);
    height: 100px;
    border-bottom: 1px solid coral;
    margin: 0px;
    padding: 0px;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: rgb(255, 195, 172);
    margin: 0px;
    padding: 0px;
}

#Navigation {
    text-align: right;
    margin-right: 25px;
    vertical-align: text-bottom;
}

#HomePageLink {
    padding: 10px;
}

#TechTipsLink {
    padding: 10px;
}

#AboutMeLink {
    padding: 10px;
    text-decoration: none;
}

a:link {
    color: black;
}

a:visited {
    color: gray;
}

a:hover {
    color: black;
    background-color: rgb(168, 168, 168);
}

a:active {
    color: black;
    background-color: white;
}

#Portrait {
    height: 250px;
    width: 175px;
    border-radius: 900px;
    margin-right: 100px;
    margin-bottom: 25px;
    margin-top: 25px;
    margin-left: 250px;
    float: left;
}

h1 {
    color: gray;
    text-align: center;
    margin: 10px;
}

article {
    text-align: center;
    padding:10px;
    height: 400px;
    width: 700px;
    float: left;
    margin: 25px;
    border: 1px solid coral;
    background-color: rgb(253, 173, 144);
    text-align: center;
    color:gray;
}

#BikingPic {
    height: 300px;
    width: 300px;
}

#HikingPic {
    height: 300px;
    width: 300px;
}

#TravelGearPic {
    height: 300px;
    width: 300px;
}

#TravelBookPic {
    height: 300px;
    width: 300px;
}

aside {
    padding:10px;
    height: 1250px;
    width: 400px;
    float:right;
    margin: 25px;
    border: 1px solid coral;
    background-color: rgb(253, 173, 144);
    text-align: center;
    color:gray;
}

#Filler {
    text-align: center;
}

#Camera {
    text-align: center;
    background-color: coral;
    height: 475px;
    width: 500px;
    margin: 25px;
}

#Footer {
    color: gray;
    padding: 5px;
    text-align: center;
    clear: both;
}