#MainName {
    text-align: left; 
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    margin-top: 10px;
    margin: 0px;
    padding: 30px;
}

#Logo {float: left; 
    height: 100px; 
    width: 100px;
    margin: 0px;
    padding: 0px;
    background-color: transparent;
}

#Header {
    background-color: rgb(253, 173, 144);
    height: 100px;
    border-bottom: 1px solid coral;
    margin: 0px;
    padding: 0px;
}

.flex-container {
    clear: both;
    display: flex;
    flex: 25px;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-left: 400px;
    clear: none;
}

*{
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: rgb(255, 195, 172);
    margin: 0px;
    padding: 0px;
}

aside {
    padding:10px;
    height: 475px;
    width: 250px;
    float:left;
    margin: 25px;
    border: 1px solid coral;
    background-color: rgb(253, 173, 144);
    text-align: center;
    color:gray;
}

#AsidePic {
    height:100px;
    width: 100px;
    border-radius: 100px;
}

#Navigation {
    text-align: right;
    margin-right: 25px;
}

#HomePageLink {
    padding: 10px;
    color: gray;
}

#TechTipsLink {
    padding: 10px;
    color: gray;
}

#AboutMeLink {
    padding: 10px;
    color: gray;
}

#Blog1 {
    background-color: rgb(253, 216, 203);
    border: 3px coral dotted;
    margin: 25px;
    text-align: center
}

#Blog1Pic {
    height: 375px;
    width: 300px;
    margin: 10px;
    float: left;
}

#Blog1Text {
    color: gray;
    padding: 5px;
}

#Blog2 {
    background-color: rgb(253, 216, 203);
    border: 3px coral dotted;
    margin: 25px;
    text-align: center
}

#Blog2Pic {
    height: 375px;
    width: 300px;
    margin: 10px;
    float: left;
}

#Blog2Text {
    color: gray;
    padding: 5px;
}

#Blog3 {
    background-color: rgb(253, 216, 203);
    border: 3px coral dotted;
    margin: 25px;
    text-align: center
}

#Blog3Pic {
    height: 375px;
    width: 300px;
    margin: 10px;
    float: left;
}

#Blog3Text {
    color: gray;
    padding: 5px;
}

#Footer {
    color: gray;
    padding: 5px;
    text-align: center;
}